body {
    margin: 0;
    padding: 0;
    background: #F4F4F4;
  }

.container {
  margin: 0 10%;
}
  
.hero, .about {
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.half-screen {
  width: 50%;
  margin-right: 5%;
}

.text {
  margin-bottom: 7%;
}

.wrapper-hero, .wrapper-about, .user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.header {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
}

h2, h3, .user {
  font-family: Fira Sans;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: -1px;
  color: #151515;
  margin-bottom: 30px;
}

h3 {
  font-family: Fira Sans;
  font-size: 40px;
  /* margin-top: 0; */
}

p {
  font-family: Fira Sans;
  font-weight: normal;
  font-size: 18px;
  color: #222222;
  opacity: 0.7;
}

.user {
  width: 285px;
  height: 65px;
  font-size: 22px;
  }

.user p {
  margin: 0;
}

.get-started {
  margin-bottom: 20%;
  padding: 20px;
  width: 180px;
  background-color: #4737FF;
  color: white;
  font-family : Fira Sans;
  font-size: 14px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.placeholder-hero {
    margin-right: -125px;
}

.placeholder-about {
  margin-right: 5%;
}

@font-face {
  font-family: Fira Sans; 
  src: url('fonts/fira_sans.ttf') format('truetype'); 
  font-style: normal; 
  font-weight: normal; 
  } 
